.active {
    color: #be05e3;
}

.slider {
    width: 100%;
    height:500px;
    box-shadow: rgba(207, 124, 231, 0.742) 0px 50px 100px 20px, rgba(0, 0, 0, 0.3) 0px 30px 60px 30px, rgba(207, 124, 231, 0.742) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 10px auto;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main img {
    height: 100%;
    width: 100%;
}

.welcome , .about{
    margin: 0.3em;
    border: 0.1em solid #da46f8;
    background: linear-gradient(to bottom, #eff7b6, #fca0f1);}

main h1, main h2, main p {
    color: #8209f4;
}

main h1 {
    font-size: 2em;
    margin: 0.5em;
}
main h2 {
    font-size: 1.6em;
    margin: 0.5em;
}
main p {
    font-size: 1.4em;
    margin: 0.6em;
}

@media screen and (max-width: 420px) {
    main h1 {
        font-size: 1.3em;
    }
   main h2 {
    font-size: 1.2em;
   }
   main p {
    font-size: 1em;
   }
}
@media screen and (min-width:421px) and (max-width: 539px) {
    main h1 {
        font-size: 1.3em;
    }
   main h2 {
    font-size: 1.2em;
   }
   main p {
    font-size: 1em;
   }
}
@media screen and (min-width:540px) and (max-width: 827px) {
    main h1 {
        font-size: 1.5em;
    }
   main h2 {
    font-size: 1.3em;
   }
   main p {
    font-size: 1.2em;
   }
}
@media screen and (min-width: 828px) {
    main h1 {
        font-size: 1.8em;
    }
   main h2 {
    font-size: 1.6em;
   }
   main p {
    font-size: 1.4em;
   }
}